<div class="d-flex flex-row justify-content-center mb-3">
    <button class="btn btn-primary btn-sm" (click)="openModal()"><i class="bi bi-plus-circle me-2"></i>Create Character</button>
    <app-character-modal [characterDto]="characterToUpdate" [characterData]="characters" (refreshData)="getData()"></app-character-modal>
</div>
<div class="container card-container">
    <div *ngIf="characters.length === 0">No characters</div>
    <div *ngIf="characters.length > 0" class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4" *ngFor="let char of characters">
        <div class="card shadow">
          <div class="card-body">
            <div class="d-flex flex-row mb-2 justify-content-between">
                <h6 class="card-title">{{ char.firstName + ' ' + char.lastName }}</h6>
                <div class="f-flex flex-row">
                  <i class="bi bi-pencil-square me-2" role="button" (click)="openForEdit(char.id)"></i>
                  <i class="bi bi-trash3 me-1" role="button" (click)="delete(char.id)"></i>
                </div>
            </div>
            <p class="card-text">Age: <b>{{ char.age }}</b> | Sex: <b>{{ sexes[char.sex] }}</b> | Height: <b>{{ char.height }}cm</b></p>
            <p class="card-text">Hair Color: <b>{{ char.hairColor }}</b> | Eye Color: <b>{{ char.eyeColor }}</b></p>
            <p class="card-text">
              Race: <b>{{ char.race ? char.race.name : 'Not Specified' }}</b> | 
              Faction: <b>{{ char.faction ? char.faction.name : 'Not Specified' }}</b> | 
              Location: <b>{{ char.location ? char.location.name : 'Not Specified' }}</b>
            <p>
          </div>
        </div>
      </div>
    </div>
</div>
