<form #characterForm="ngForm" (ngSubmit)="save()">
    <div class="modal fade" [ngClass]="{'show': modalVisible}" [style.display]="modalVisible ? 'block' : 'none'" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="characterDto.id < 1">Create Character</h5>
                    <h5 class="modal-title" id="exampleModalLabel" *ngIf="characterDto.id > 0">Update Character</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row mb-2">
                            <div class="d-flex flex-column me-2">
                                <label for="firstName" class="mb-1"><i class="text-danger">*</i> First Name</label>
                                <input 
                                    type="text"
                                    name="firstName"
                                    id="firstName"
                                    class="form-control border-primary"
                                    #charFirstName="ngModel"
                                    [(ngModel)]="characterDto.firstName"
                                    placeholder="Enter first name"
                                    [required]="true"
                                >
                                <div *ngIf="charFirstName.invalid && (charFirstName.dirty || charFirstName.touched)">
                                    <small *ngIf="charFirstName.errors?.['required']" class="text-danger">First Name is required.</small>
                                </div>
                            </div>
                            <div class="d-flex flex-column me-2">
                                <label for="lastName" class="mb-1"><i class="text-danger">*</i> Last Name</label>
                                <input 
                                    type="text"
                                    name="lastName"
                                    id="lastName"
                                    class="form-control border-primary"
                                    #charLastName="ngModel"
                                    [(ngModel)]="characterDto.lastName"
                                    placeholder="Enter first name"
                                    [required]="true"
                                >
                                <div *ngIf="charLastName.invalid && (charLastName.dirty || charLastName.touched)">
                                    <small *ngIf="charLastName.errors?.['required']" class="text-danger">Last Name is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-2">
                            <div class="d-flex flex-column w-25 me-2">
                                <label for="age" class="mb-1">Age</label>
                                <input 
                                    type="number"
                                    name="age"
                                    id="age"
                                    class="form-control border-primary"
                                    [(ngModel)]="characterDto.age"
                                    placeholder="Enter age"
                                >
                            </div>
                            <div class="d-flex flex-column w-25 me-2">
                                <label for="sex" class="mb-1">Sex</label>
                                <select 
                                    name="sex"
                                    id="sex"
                                    class="form-control border-primary"
                                    [(ngModel)]="characterDto.sex"
                                    aria-placeholder="Choose sex"
                                >
                                    <option *ngFor="let option of sexOptions" [value]="option.value" [disabled]="option.disabled">{{ option.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-2">
                            <div class="d-flex flex-column w-25 me-2">
                                <label for="height" class="mb-1">Height (cm)</label>
                                <input 
                                    type="number"
                                    name="height"
                                    id="height"
                                    class="form-control border-primary"
                                    [(ngModel)]="characterDto.height"
                                    placeholder="Enter height"
                                >
                            </div>
                            <div class="d-flex flex-column w-25 me-2">
                                <label for="hair" class="mb-1">Hair color</label>
                                <input 
                                    type="text"
                                    name="hair"
                                    id="hair"
                                    class="form-control border-primary"
                                    [(ngModel)]="characterDto.hairColor"
                                    placeholder="Enter hair color"
                                >
                            </div>
                            <div class="d-flex flex-column w-25 me-2">
                                <label for="eye" class="mb-1">Eye color</label>
                                <input 
                                    type="text"
                                    name="eye"
                                    id="eye"
                                    class="form-control border-primary"
                                    [(ngModel)]="characterDto.eyeColor"
                                    placeholder="Enter eye color"
                                >
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-5">
                            <div class="d-flex flex-column w-25 me-2">
                                <label for="race" class="mb-1">Race</label>
                                <select
                                    name="race"
                                    id="race"
                                    class="form-control border-primary"
                                    [(ngModel)]="characterDto.raceId"
                                    aria-placeholder="Select race"
                                >
                                    <option *ngFor="let race of races" [value]="race.id" [disabled]="race.id === 0">{{ race.name }}</option>
                                </select>
                            </div>
                            <div class="d-flex flex-column w-25 me-2">
                                <label for="location" class="mb-1">Location</label>
                                <select
                                    name="location"
                                    id="location"
                                    class="form-control border-primary"
                                    [(ngModel)]="characterDto.locationId"
                                    aria-placeholder="Select location"
                                >
                                    <option *ngFor="let location of locations" [value]="location.id" [disabled]="location.id === 0">{{ location.name }}</option>
                                </select>
                            </div>
                            <div class="d-flex flex-column w-25 me-2">
                                <label for="faction" class="mb-1">Faction</label>
                                <select
                                    name="faction"
                                    id="faction"
                                    class="form-control border-primary"
                                    [(ngModel)]="characterDto.factionId"
                                    aria-placeholder="Select faction"
                                >
                                    <option *ngFor="let faction of factions" [value]="faction.id" [disabled]="faction.id === 0">{{ faction.name }}</option>
                                </select>
                            </div>
                        </div>
                        <h4>Relationships</h4>
                        <div class="d-flex flex-column mb-2">
                            <div class="d-flex flex-row mb-2" *ngFor="let relationship of characterDto.relationshipsAsFirst; let i = index">
                                <div class="d-flex flex-column w-25 me-2">
                                    <select 
                                        name="type{{ i }}"
                                        id="type{{ i }}"
                                        class="form-control border-primary"
                                        [(ngModel)]="relationship.relationshipType"
                                        aria-placeholder="Choose type"
                                    >
                                        <option *ngFor="let option of relationshipOptions" [value]="option.value">{{ option.name }}</option>
                                    </select>
                                </div>
                                <div class="d-flex flex-column me-1 mt-2">with</div>
                                <div class="d-flex flex-column w-25 me-3">
                                    <select 
                                        name="char{{ i }}"
                                        id="char{{ i }}"
                                        class="form-control border-primary"
                                        [(ngModel)]="relationship.secondCharacterId"
                                        aria-placeholder="Choose character"
                                    >
                                        <option *ngFor="let character of characterData" [disabled]="character.id === characterDto.id" [value]="character.id">{{ character.firstName + ' ' + character.lastName }}</option>
                                    </select>
                                </div>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash3 mt-2" role="button"></i></button>
                            </div>
                            <button type="button" class="btn btn-sm btn-primary w-25" (click)="addRelationship()">Add Relationship</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                    <button type="submit" [disabled]="characterForm.invalid" class="btn btn-primary" *ngIf="characterDto.id < 1">Create</button>
                    <button type="submit" [disabled]="characterForm.invalid" class="btn btn-primary" *ngIf="characterDto.id > 0">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
  